html, body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 36px;
  background-color: #2F2F2F;
  width: 100%;
  height: 100%;
  /*
    Strange bug in Firefox causes the whole page to drift
    left unless we fix the position. Probably some focus
    weirdness.
  */
  position: fixed;
}

h1, h2, h3, h4, ul, ol, li, p {
  margin: 0;
  padding: 0;
}

#intro h3,
#intro h1 {
  margin-bottom: 20px;
}

#intro h1 {
  font-family: "Signika Negative", Helvetica;
  font-size: 2em;
}

#intro h2 {
  font-weight: normal;
  font-size: 1.1em;
  margin-bottom: 20px;
}

#intro h3 {
  font-size: 0.8em;
  font-weight: normal;
}

#intro {
  text-align: center;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding: 100px 0 0 0;
}

deck, slide {
  display: block;
}

deck {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

slide {
  font-size: 1em;
  width: 80%;
  height: 80%;
  margin: 30px;
  padding: 20px;
  position: absolute;
  background: white url(../img/cms_logo.png) 588px 502px no-repeat;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #666;
  -webkit-transition: left 0.25s, -webkit-transform 0.8s;
  -webkit-transform: scale(0.85) skew(-2deg) translateZ(0);
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 6px;
  -moz-transition: left 0.8s, -moz-transform 0.8s;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 6px;
  -moz-transform: scale(0.85) skew(-2deg) translateZ(0);
  left: 900px;
}

/*
slide p,
slide li {
  white-space: pre-line;
}
*/

slide li {
  margin: 0;
  line-height: 1.3em;
}

slide ol,
slide ul {
  list-style-position: inside;
  margin: 0;
}

ul ul  {
  margin-left: 0.6em;
  font-size: .8em;
}

slide img {
  display: block;
  margin: 0 auto;
  max-height: 400px;
  max-width: 650px;
}

img.left.left {
  float: left;
  margin-right: 20px;
}

img.right.right {
  float: right;
  margin-left: 20px;
}

slide img.inline {
  display: inline-block;
  margin: 0;
}

slide img.hidden {
  visibility: hidden;
}

slide blockquote {
  font-style: italic;
  margin-left: 2em;
}

.previous {
  -webkit-transform: scale(0.85) skew(2deg) translateZ(0);
  -moz-transform: scale(0.85) skew(2deg) translateZ(0);
 left: -800px;
}

.current {
  left: 50px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
}

slide h2 {
  margin-bottom: 0.5em;
  font-size: 1.1em;
  font-weight: 700;
  color: black;
  font-family: "Signika Negative", Helvetica;
  font-size: 1.6em;
}

slide h3 {
  font-size: 1em;
  margin: 0;
  font-weight: 400;
}

#counter {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 0.4em;
  color: white;
}

#counter span,
#counter a {
  text-decoration: none;
  color: white;
}

#counter > span {
  display: inline-block;
  width: 1.2em;
  text-align: center;
}

#counter a:hover {
  color: #007BC3;
  text-decoration: underline;
}

.interlude strong {
  text-transform: uppercase;
}

.interlude h3 {
  font-size: 2em;
  padding: 1em 0;
  text-align: center;
}

.interlude p {
  text-align: right;
}

.syntaxhighlighter {
  font-size: 0.7em;
}

.syntaxhighlighter .gutter {
  visibility: hidden;
}

.noDots {
  list-style: none;
}

kbd {
  border: 1px solid black;
  padding: 10px 4px 0 4px;
  border-radius: 8px;
  background-color: #EEE;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 6px;
}

a[rel=shadowbox] {
  text-decoration: none;
}

.hilight {
  color: purple;
}